<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
    <title>Özgür Kütüphane</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
   <div class="container">
   <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div> 
        <h2>Yazar Listesi</h2>
       <span th:text="${error?.error}" style="color: red"></span>
        <table class="table table-striped">
            <tr>
                <th>Yazar</th>
                <th>Açıklama</th>   
                <th>Sil</th>  
            </tr>
            <tr th:each="authors : ${authors}">             
              <td th:text="${authors.authorName}"></td> 
		      <td th:text="${authors.description}"></td>
		       <td><a th:href="${'/authors/delete/'+ authors.id}">Sil</a></td>   
               
              </tr>
        </table>

    </div>
</div>
</body>
</html>